
body {
    background-image: url(../img/foneImage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    user-select: none;
    background-repeat: no-repeat;

    overflow: hidden;
}

*:focus:not(.focus-visible) {
    outline: none;
}
/*----------------------------------------------------------------------*/
.grid {
    position: absolute;
    display: none;
    gap: 2px;
}

.box {
    position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0px);
    overflow: visible;
}

.boxChange:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.66);
}

.box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 23vmin;
    height: 23vmin;

    border-radius: 50%;
    
    background: radial-gradient(circle, 
        rgba(0,0,0,0.8) 0%,
        rgba(0,0,0,0.6) 30%,
        rgba(0,0,0,0) 40%);
    
    mask: radial-gradient(circle, 
        black 0%, 
        black 30%, 
        transparent 35%);

    z-index: -1;
    opacity: 0;
}

.box.shadow::before {
    animation: radial-scale 1.2s ease-out;
}

@keyframes radial-scale {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: 0.8;
    }
    100% {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

.box > img {
    height: 55%;
    z-index: 1;
}

.boxEnd {
    background-color: rgba(0, 0, 0, 0.8);
}

.boxDraw {
    background-color: rgba(0, 0, 0, 0.65);
}

.shadowOut {
    animation: radial-pulse-one 1.5s infinite;
}

@keyframes radial-pulse-one {
    0% {
        box-shadow: 0 0 0 1vmin rgba(255, 255, 255, 0.8);
    }

    0% {
        box-shadow: 0 0 0 3vmin rgba(255, 255, 255, 0.6);
    }

    0% {
        box-shadow: 0 0 0 6vmin rgba(255, 255, 255, 0.4);
    }

    100% {
        box-shadow: 0 0 0 8vmin rgba(0, 0, 0, 0);
    }
}

.cross {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-top-left-radius: 1vmin;
    background: linear-gradient(to top, rgb(86, 87, 88) 0%, 
              rgb(63, 64, 66) 20%,rgb(0, 0, 0) 60%);

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.cross > img {
    height: 65%;
}

.zero {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    background: linear-gradient(to top, rgb(86, 87, 88) 0%, 
              rgb(63, 64, 66) 20%,rgb(0, 0, 0) 60%);

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.zero > img {
    height: 65%;
}

.draw {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    border-top-right-radius: 1vmin;
    background: linear-gradient(to top, rgba(86, 87, 88) 0%, 
              rgba(63, 64, 66) 20%,rgba(0, 0, 0) 60%);

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.draw > img {
    height: 90%;
}

.boxOut {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    margin-left: 2.2vmin;
}

.out {
    color: white;
    font-family: 'DejaVu Sans ExtraLight';
    z-index: 1;
}

.outputShadow {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    z-index: 0;
}

/*-----------------------------Кнопки Меню---------------------------*/
.play {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    background: linear-gradient(to bottom, rgb(86, 87, 88) 0%, 
              rgb(63, 64, 66) 20%,rgb(0, 0, 0) 60%);
    color: white;
    border-bottom-left-radius: 1vmin;
    border-right: none;
    border-left: none;
    border-width: 1px;
    font-style: italic;
    width: 100%;
    height: 100%;
    letter-spacing: 3px;
    padding: 0px;

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}

.play > img {
    height: 70%;
    width: 50%; 
}

.play:hover {
    color: rgb(248, 222, 173);
}

.sound {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    background: linear-gradient(to bottom, rgb(86, 87, 88) 0%, 
              rgb(63, 64, 66) 20%,rgb(0, 0, 0) 60%);
    color: white;
    font-size: 18px;
    
    border-left: none;
    border-right: none;
    border-width: 1px;
    font-style: italic;
    width: 100%;
    height: 100%;
    letter-spacing: 3px;
    padding: 0px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}

.sound > img {
    height: 70%;
    width: 50%; 
}

.sound:hover {
    color: rgb(248, 222, 173);
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    cursor: pointer;
    background: linear-gradient(to bottom, rgb(86, 87, 88) 0%, 
              rgb(63, 64, 66) 20%,rgb(0, 0, 0) 60%);
    color: white;
    font-size: 18px;
    font-family: Corbel Light;
    border-bottom-right-radius: 1vmin;
    border-left: none;
    border-right: none;
    border-width: 1px;
    font-style: italic;
    width: 100%;
    height: 100%;
    letter-spacing: 3px;
    padding: 0px;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

.info > img {
    height: 70%;
    width: 50%; 
}

.info:hover {
    color: rgb(248, 222, 173);
}
/*-------------------------------buner------------------------------------*/
.winOne {
    position: absolute;
    display: none;

    justify-self: center;
    align-self: center;

    align-items: center;
    justify-content: center;

    width: 65%;
    aspect-ratio: 1 / 1;
    
    border: 1px ridge whitesmoke;
    border-radius: 2.8vmin;

    background: linear-gradient(to bottom, rgba(155, 136, 75, 0.8) 20%,
              rgba(168, 172, 172, 0.7) 90%);
    
    backdrop-filter: blur(3px);

    z-index: 2;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 3%;
    right: 3%;
    height: 3.5vmin;
    border-radius: 50%;
    padding: 2%;
}

.level {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 80%;
    aspect-ratio: 1 / 1;
}

.close:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.znak {
    display: inline;
    justify-self: center;
    align-self: center;

    width: 35%;
    padding: 5%;

    border-radius: 16%;
    border: 1px solid rgba(255, 255, 255, 0.5);

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}

.smile {
    cursor: pointer;
    justify-self: center;
    align-self: center;

    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.7) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.8) 52%);

    border: 1px groove rgba(255, 255, 255, 0.5);
    border-radius: 2vmin;

    width: 45%;
    padding: 10%;
}

.smile:hover {
    border: 1px groove white;
}

.shose {
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;

    width: 85%;
    height: 50%;
}

.pic {
    display: inline;
    cursor: pointer;

    width: 21%;
    padding: 5%;

    border: 1px groove rgba(255, 255, 255, 0.5);
    border-radius: 14%;

    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.7) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.8) 52%);
}

.pic:hover {
    border: 1px groove white;
}

.znakShose {
    display: inline;
    width: 16%;

    padding: 2%;
    margin: 0% 6% 0% 6%;

    border-radius: 16%;
    border: 1px solid rgba(255, 255, 255, 0.5);

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
}
/*-----------------------------------Регулятор Звука-------------------------*/
.volumeWrap {
    display: none;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    width: 80%;
    height: 20%;

    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.7) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.8) 52%);

    padding: 1.5%;

    border: 1px groove rgb(255, 255, 255, 0.3);
    border-top-left-radius: 1.8vmin;
    border-top-right-radius: 1.8vmin;
    border-bottom-left-radius: 1.8vmin;
    border-bottom-right-radius: 1.8vmin;
}

.volumeDin {
    cursor: pointer;
    width: 10%;
    border: 1px groove  rgb(255, 255, 255, 0.4);
    border-radius: 18%;
    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.5) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.9) 52%);
    padding: 2%;
}

.volumeDin:hover {
    border: 1px groove  rgb(255, 255, 255, 0.8);
}

.volumeOut {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    color: rgba(255, 255, 255, 0.8);
    font-family: 'Yu Gothic Light';
    width: 10%;
}

.minus {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 

    cursor: pointer;
    height: 95%;
    aspect-ratio: 1 / 1;

    margin-left: 0.8%;
    border-width: 1px;
    border-radius: 20%;
    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.5) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.9) 52%);
}

.minus > img {
    width: 50%;
}

.plus {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; 

    cursor: pointer;
    height: 95%;
    aspect-ratio: 1 / 1;

    margin-right: 0.7%;
    border-width: 1px;
    border-radius: 20%;
    background: linear-gradient(to bottom, rgba(100, 108, 109, 0.5) 0%,
              rgba(102, 107, 107, 0.8) 0%,rgba(5, 5, 5, 0.9) 52%);
}

.plus > img {
    width: 48%;
}
/*-----------------------------------------Иконка Информации------------------*/
.autor {
    position: absolute;

    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 70%;
    aspect-ratio: 1 / 0.8;

    padding: 0 5%;

    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2vmin;

    background-color: rgba(0, 0, 0, 0.8);

    z-index: 2;
}

.text {
    height: 100%;
    width: 100%;
}

/*------------------------------------Окно Вывода Победителя-----------------*/
.victory {
    justify-self: center;
    justify-items: center;
    align-self: center;
    align-items: center;

    display: none;
    justify-content: center;
    align-content: center;
    align-items: center;

    position: absolute;
    width: 37%;
    height: 23%;
    background: linear-gradient(to bottom, rgba(155, 136, 75, 0.8) 20%,
              rgba(168, 172, 172, 0.7) 90%);
    border: 1px ridge white;
    border-radius: 2.2vmin;
    z-index: 2;
    box-shadow: 2vmin 2vmin 1vmin 0.8vmin rgba(0, 0, 0, 0.4);
}

.victoryWrap {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 75%;
    height: 60%;

    background: linear-gradient(to bottom, rgba(86, 87, 88, 0.7) 0%, 
              rgba(63, 64, 66, 0.8) 20%,rgba(0,0,0,0.9) 60%);
    border: 1px groove rgba(255, 255, 255, 0.6);
    border-radius: 2vmin;
    box-shadow: 1vmin 1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.4);
}

.victoryWrap:hover {
    cursor: pointer;
    border: 1px groove rgb(94, 195, 235);
}

.victoryPicOne {
    height: 65%;
}

.victoryPicTwo {
    height: 65%;
    margin-left: 6%;
}

@font-face {
    font-family: "DejaVu Sans ExtraLight"; 
    src: url("../font/DejaVu Sans ExtraLight.ttf") format("truetype");
} 

@font-face {
    font-family: "Yu Gothic Light";
    src: url("../font/Yu Gothic Light.ttf") format("truetype");
} 
